name: Format + Lint + Tests

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    ci:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.13"]
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: python -m pip install --upgrade pip
                   pip install -r requirements.txt
                   #pip install black flake8 pytest pytest-cov

            - name: Run Black (format check)
              run: black --check .

            - name: Run Flake8
              run: flake8 . --exclude .venv --ignore=E501,W291,W503 # ignores trailed whitespace (conflicts with tests), line too long and line break before binary operator (conflict with formatter) warnings

            - name: Run tests with coverage
              run: python -m pytest --cov=. --cov-fail-under=80
