name: Build Docs

on:
    push:
        branches:
            - main

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
                    #pip install black flake8 pytest pytest-cov

            - name: Build docs
              run: |
                cd docs
                make html

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                path: docs/_build/html
            
            - name: Deploy docs
              uses: actions/deploy-pages@v4